* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  height: 100%;
  background-color: #5cdb95;
}

h1 {
  font-size: 120px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #05386b;
}

.input_div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input_div .input {
  padding: 0.5rem 1rem;
  height: 50px;
  outline: none;
  background-color: #edf5e1;
  width: 450px;
  font-size: 1.15rem;
  margin: 0.25rem;
  border-radius: 25px;
  border: none;
}

.addButton {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: #05386b;
  color: #8ee4af;
  margin: 0.25px;
  cursor: pointer;
}

.addButton :hover {
  opacity: 0.7;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.item {
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 4px solid #379683;
}

.item_input {
  background: none;
  outline: none;
  color: #edf5e1;
  border: none;
  width: 350px;
  font-size: 80px;
  font-family: "Montserrat", sans-serif;
  font-style: bold;
}

.editButton {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: #05386b;
  color: #8ee4af;
  margin: 0.25px;
  cursor: pointer;
}

.removeButton {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: #000000;
  color: #8ee4af;
  margin: 0.25px;
  cursor: pointer;
}
